# Sender private key. Keep this safe
SENDER_PRIVATE_KEY=0x1234

# RPC
RPC_URL=http://172.17.0.1:8588
# WS RPC
WS_RPC_URL=ws://172.17.0.1:8589

# Discord
WEBHOOK_URL=https://discord.com/api/webhooks/
AVATAR_USERNAME=Redshift
AVATAR_URL=https://static-00.iconduck.com/assets.00/bridge-at-night-emoji-2048x2048-6i4pw34f.png

# Fund balance limit - Default 0.01 UBQ
FUND_LIMIT_WEI=10000000000000000
# Amount to fund the receipient - Default 0.1 UBQ
FUND_AMOUNT_WEI=100000000000000000

# Wrapped asset address
WRAPPED_ADDRESS=0x1fa6a37c64804c0d797ba6bc1955e50068fbf362
ERC20_HANDLER_ADDRESS=0xA8A98a7f65535aA4bA34715b635f90C29843c20a
# Base asset
BASE_ASSET=UBQ
